*.iml
qr_scan_app/.gradle
qr_scan_app/local.properties
qr_scan_app/.idea/caches
qr_scan_app/.idea/libraries
qr_scan_app/.idea/modules.xml
qr_scan_app/.idea/workspace.xml
qr_scan_app/.idea/navEditor.xml
qr_scan_app/.idea/assetWizardSettings.xml
qr_scan_app/.DS_Store
qr_scan_app/build
qr_scan_app/captures
qr_scan_app/.externalNativeBuild
qr_scan_app/.cxx
qr_scan_app/local.properties
node_modules
package-lock.json
.DS_Store

